# Node.js / React
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
package.json

# VSCode
.vscode/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Dependency Caches
.pnpm-store/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Compiled files
*.out
*.exe
*.app
*.o
*.so

# Testing / Coverage
coverage/
jest/
cypress/screenshots/
cypress/videos/

# Logs & Debugging
*.log
*.tmp
*.swp
*.swo
*.swn
*.bak
debug.log

# Build Artifacts
*.map
*.lock
*.pid
*.seed
*.tgz
*.gz
*.zip

# Database
*.sqlite
*.db


